---
import { getCollection } from 'astro:content';

import '@src/index.css';
import { css } from '@styled-system/css';

import Navigation from '../../components/Navigation.astro';
import Footer from '../../components/Footer.astro';

const bodyStyles = css({
  height: 'full',
  fontFamily: 'pretendard',
  display: 'flex',
  flexDir: 'column',
});

const mainStyles = css({
  color: 'etainSnowGray',
  flexGrow: '1',
  display: 'flex',
  justifyContent: 'center',
  alignItems: 'center',
});

const divStyles = css({
  borderWidth: '1',
  borderStyle: 'solid',
  borderColor: 'etainSnowGray',
  borderRadius: 'sm',
  padding: '4',
  display: 'flex',
  flexDir: 'column',
});

const postListStyles = css({
  '& a': {
    fontSize: '2xl',

    '&:hover': {
      textDecoration: 'underline',
    },
  },
  '& p': {
    fontSize: 'xl',
  },
});

const allBlogPosts = await getCollection('blog');
---

<html lang="ko" class={css({ height: 'full' })}>
  <head>
    <title>blog = f(retrospects)(thoughts)(rss)</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="description" content="여러 가지 흔적" />
  </head>
  <body class={bodyStyles}>
    <Navigation />
    <main class={mainStyles}>
      <div class={divStyles}>
        <ol class={postListStyles}>
          {
            allBlogPosts.map((post) => (
              <li>
                <a href={`/blog/${post.slug}`}>{post.data.title}</a>
                <p>{post.data.description}</p>
              </li>
            ))
          }
        </ol>
      </div>
    </main>
    <Footer />
  </body>
</html>
