---
import '../index.css';
import { css } from '../../styled-system/css';

import IconLabel from '../components/IconLabel.astro';

import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';

const bodyStyles = css({
  color: 'etainSnowGray',
  fontFamily: 'pretendard',
  display: 'flex',
  flexDir: 'column',
});

const mainStyles = css({
  marginY: '8',
  alignSelf: 'center',
  display: 'flex',
});

const headerStyles = css({
  bg: 'white',
  w: 'full',
  mx: '4',
  p: '8',
  rounded: 'md',
  display: 'flex',
  justifyContent: 'space-between',
  alignItems: 'start',
  gap: { base: '6', sm: '12', md: '24', lg: '48', xl: '96' },
  flexWrap: 'wrap',

  '& h1': {
    color: 'eochaidNavy',
    fontSize: '4xl',
    fontWeight: 'bold',
  },
  '& p': {
    color: 'siamBlack',
    fontSize: '2xl',
  },
});

const contactsStyles = css({
  display: 'flex',
  flexDir: 'column',
});
---

<html lang="ko" class={css({ height: 'full' })}>
  <head>
    <title>me = f(cv)</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="description" content="나는 누구인가" />
  </head>
  <body class={bodyStyles}>
    <Navigation />
    <main class={mainStyles}>
      <header class={headerStyles}>
        <section aria-label="introduction">
          <h1>박정욱</h1>
          <p>소프트웨어 엔지니어</p>
        </section>
        <section class={contactsStyles} aria-label="contacts">
          <IconLabel
            name="feather:mail"
            label="email"
            content="me@hatchling.dev"
          />
          <IconLabel
            name="feather:github"
            label="GitHub"
            content="hatchling13"
          />
          <IconLabel
            name="feather:twitter"
            label="Twitter(X)"
            content="@hatchling_13"
          />
        </section>
      </header>
    </main>
    <Footer />
  </body>
</html>
