---
import { css } from '@styled-system/css';
import { Icon } from 'astro-icon/components';

interface Props {
  name: string;
  href: string;
  label: string;
  content: string;
}

const { name, href, label, content } = Astro.props;

const styles = css({
  color: 'siamBlack',
  fontSize: '2xl',
  display: 'flex',
  alignItems: 'center',
  alignSelf: 'flex-start',
  gap: '2',

  '&:hover': {
    textDecoration: 'underline',
  },
});
---

<a href={href} class={styles} target="_blank" rel="noopener noreferrer">
  <Icon name={name} role="img" aria-label={label} />
  <span>{content}</span>
</a>
