---
import '../index.css';
import { css } from '../../styled-system/css';

const styles = css({
  height: '16',
  color: 'amber.800',
  fontFamily: 'serif',
  fontSize: { base: 'lg', sm: 'xl', md: '2xl', lg: '3xl' },
  fontStyle: 'italic',
  display: 'flex',
  justifyContent: 'center',
  alignItems: 'center',
});

const spanStyles = css({
  paddingInline: { base: '1', sm: '1', md: '2', lg: '2' },
});

const anchorStyles = css({
  transition: 'all',
  transitionTimingFunction: 'ease-in-out',
  color: {
    base: 'amber.800',
    _hover: 'amber.600',
    _focus: 'amber.600',
    _active: 'amber.600',
  },
  fontSize: {
    base: { base: 'lg', sm: 'xl', md: '2xl', lg: '3xl' },
    _hover: { base: 'xl', sm: '2xl', md: '3xl', lg: '4xl' },
    _focus: { base: 'xl', sm: '2xl', md: '3xl', lg: '4xl' },
    _active: { base: 'xl', sm: '2xl', md: '3xl', lg: '4xl' },
  },
  textDecoration: {
    base: 'none',
    _hover: 'underline',
    _focus: 'underline',
    _active: 'underline',
  },
});
---

<nav class={styles}>
  <a href="/" class={anchorStyles}>Couvoir</a><span class={spanStyles}>=</span
  >f<a href="/playground" class={anchorStyles}>(playground)</a><a
    href="/blog"
    class={anchorStyles}>(blog)</a
  ><a href="/me" class={anchorStyles}>(me)</a>
</nav>
