---
import '@src/index.css';

import { getCollection } from 'astro:content';
import { css } from '@styled-system/css';

import Navigation from '@src/components/Navigation.astro';
import Footer from '@src/components/Footer.astro';

export const prerender = true;

export async function getStaticPaths() {
  const entries = await getCollection('post');

  return entries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const mainStyles = css({
  minW: 'md',
  paddingInline: {
    base: '8',
    md: '8',
    lg: '16',
  },
  display: 'flex',
  flexDir: 'column',
});

const contentStyles = css({
  fontWeight: 'medium',

  '& h1': {
    paddingBlock: '2',
    fontSize: {
      base: '2xl',
      md: '2xl',
      lg: '4xl',
    },
  },
  '& h2': {
    paddingBlock: '2',
    fontSize: {
      base: 'xl',
      md: 'xl',
      lg: '3xl',
    },
  },
  '& p': {
    paddingBlock: '1',
  },
});

const { entry } = Astro.props;
const { Content } = await entry.render();

const { title, date, description } = entry.data;

const year = date.getFullYear();
const month = date.getMonth() + 1;
const day = date.getDate();

const formattedDate = `${year}년 ${month}월 ${day}일`;
---

<html>
  <head>
    <title>{title}</title>
    <link rel="preconnect" href="https://cdn.jsdelivr.net" />
    <link rel="dns-prefetch" href="https://cdn.jsdelivr.net" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css"
    />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
  </head>
  <body>
    <Navigation />
    <main class={mainStyles}>
      <section>
        <h1>{title}</h1>
        <p>{formattedDate}</p>
      </section>
      <section class={contentStyles}>
        <Content />
      </section>
    </main>
    <Footer />
  </body>
</html>
