---
import { range } from '@src/utils';
import { css } from '@styled-system/css';

const navStyles = css({
  display: 'flex',
  alignSelf: 'center',
  alignItems: 'center',
  gap: '4',
});

const spanStyles = css({
  fontWeight: 'semibold',
  px: '2',
  py: '1',
  fontSize: '2xl',
  borderWidth: '1px',
  borderRadius: 'sm',

  _hover: {
    cursor: 'default',
  },
});

const anchorStyles = css({
  fontSize: '2xl',
  textDecoration: {
    base: 'none',
    _hover: 'underline',
    _focus: 'underline',
    _active: 'underline',
  },
});

// 페이지 수 많아질 때 대비할 필요 있음

interface Props {
  type: 'post' | 'retrospect';
  currentPage: number;
  size: number;
  total: number;
}

const { type, currentPage, size, total } = Astro.props;

const count = range(1, Math.ceil(total / size));
---

<nav class={navStyles}>
  {
    count.map((num) =>
      num === currentPage ? (
        <span role="link" aria-disabled="true" class={spanStyles}>
          {num}
        </span>
      ) : (
        <a class={anchorStyles} href={`/blog/${type}/${num}`}>
          {num}
        </a>
      ),
    )
  }
</nav>
