---
import { css } from '@styled-system/css';

const listStyles = css({
  padding: '4',
  display: 'flex',
  flexDir: 'column',
});

const anchorStyles = css({
  fontSize: '2xl',
  fontWeight: 'bold',

  overflow: 'hidden',
  whiteSpace: 'nowrap',
  textOverflow: 'ellipsis',
  wordBreak: 'break-all',

  textDecoration: {
    base: 'none',
    _hover: 'underline',
    _focus: 'underline',
    _active: 'underline',
  },
});

const descriptionStyles = css({
  fontSize: 'xl',

  overflow: 'hidden',
  whiteSpace: 'nowrap',
  textOverflow: 'ellipsis',
  wordBreak: 'break-all',
});

const dateStyles = css({
  fontSize: 'lg',
  paddingBlockStart: '2',
  alignSelf: 'flex-end',
});

interface Props {
  title: string;
  description: string;
  date: Date;
  type: 'post' | 'retrospect';
  slug: string;
}

const { title, description, date, type, slug } = Astro.props;

const formatter = new Intl.DateTimeFormat('ko-KR');
const formattedDate = formatter.format(date);
---

<li class={listStyles}>
  <a class={anchorStyles} href={`/blog/${type}/${slug}`}>{title}</a>
  <p class={descriptionStyles}>{description}</p>
  <p class={dateStyles}>{formattedDate}</p>
</li>
